<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drugstore_Task</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Drugstore_Task.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" xmlns="">
        <a href="/">
            <span class="fs-4">Библиотка ГБПОУ СКС</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <style>
                     p { text-indent: 30px; }
                  .text-justify {
                   text-indent: 50px;
                    text-align-last: center;
                    text-align: justify; /* Выравнивание по ширине */
                }
            </style>
        </nav>
    </div>
    {% block content %}

    <div id="content">

        <div style="text-align:justify">
            <span style="font-size:22px">
                <span style="font-family:Times New Roman,Times,serif">
                    <p style="text-indent: 30px;">
                        Добро пожаловать на этот сайт. Он создан для библиотеки Ставропольского колледжа связи города Ставрополя.
                        Здесь вы можете посмотреть книги и их авторов, а также ознакомиться с краткой информацией о библиотеки.
                        Библиотека ГБПОУ СКС&mdash; является источником информационного обеспечения учебно-воспитательного процесса.
                        Мы предоставляем студентам и преподавателям учебную, научную, справочную, художественную литературу,
                        периодические издания.<br />
                    <p style="text-indent: 30px;">
                        Фонд нашей библиотеки &mdash;более 9000 экземпляров книг по всем общеобразовательным и профессиональным дисциплинам
                        В библиотеке работают 2 человека:
                </span>
            </span>
        </div>

        <div style="text-align:justify"><span style="font-size:22px"><span style="font-family:Times New Roman,Times,serif">&mdash; заведующий библиотекой &ndash; Бекетова Вера Михайловна;</span></span></div>

        <div style="text-align:justify"><span style="font-size:22px"><span style="font-family:Times New Roman,Times,serif">&mdash; библиотекарь &ndash; Габрилян Стелла Ареговна.</span></span></div></p>

        <div style="text-align:justify">
            <span style="font-size:22px">
                <span style="font-family:Times New Roman,Times,serif">
                    <p style="text-indent: 30px;">
                        Для удобного учета фонда введена система &laquo;1С:Библиотека колледжа&raquo;.
                        Мы получили возможность быстро и качественно обслуживать читателей, вести электронный каталог и учет изданий.
                        В программе предусмотрен эффективный механизм администрирования и управления доступом к информационным ресурсам.
                        Понимая важность информационных технологий в образовании, а также по требованиям ФГОС, библиотека подключена к электронно-библиотечным системам (ЭБС) &laquo;ЛАНЬ&raquo; и &laquo;BOOK.RU&raquo;.<br />
                    <p style="text-indent: 30px;">
                        ЭБС&mdash; это электронная библиотека нового поколения, контент которой составляет более 500000 наименований учебной, научной и художественной литературы.
                        Она дала возможность нашим студентам и преподавателям пользоваться литературой онлайн на удаленном доступе с любого компьютера. В библиотеке создан электронный читальный зал с персональными компьютерами, подключенными к ЭБС.
                        Студенты, пользующиеся библиотекой, очень рады, что все доступно: традиционные учебники, электронный читальный зал с выходом в Интернет и, соответственно, к удаленным электронным ресурсам.
                </span>
            </span>
        </div></p>

        <div style="text-align:justify">
            <span style="font-size:22px">
                <span style="font-family:Times New Roman,Times,serif">
                    <p style="text-indent: 30px;">
                        Но как только они начинают этим пользоваться, звучат вопросы: что? Где? Как?</br>
                        И здесь библиотекарь развеивает миф об Интернете, где якобы можно найти все. Далеко не все! И этот факт подтвердит любой специалист по работе с информацией.
                        Там, кроме искомого, можно получить массу непроверенной и недостоверной информации.
                        В связи с этим мы и возвращаемся в современную библиотеку с ее основными функциями за помощью.
                        Да, можно и нужно использовать мультимедийные ресурсы, работать с новейшими технологиями (что мы, собственно, и делаем).
                        Самое главное знать: что искать? как это делать? где можно найти?
                        Зато новые технологии очень эффективно помогают в открытии для молодежи целого мира &mdash;информации, привлекают молодого читателя в библиотеку.
                        Вот тогда и приходит осознание необходимости работника библиотеки с его знаниями и опытом.<br />
                    <p style="text-indent: 30px;">
                        Если читатель не умеет работать с традиционной книгой и находить быстро нужную информацию в учебнике, то он никогда не отыщет то, что ему нужно в огромном потоке информации.<br />
                        Таким образом можно выделить два главных направления работы библиотеки в Интернете<br />
                        &mdash; создание электронных информационных ресурсов библиографического характера и предоставление их для использования;<br />
                        &mdash; использование действующих электронных информационных ресурсов в процессе справочно-информационного обслуживания читателей.
                </span>
            </span>
        </div></p>

        <div style="text-align:justify">
            <span style="font-size:22px">
                <span style="font-family:Times New Roman,Times,serif">
                    <p style="text-indent: 30px;">
                        Но несмотря на век информационных технологий, не стоит забывать о силе именно печатного слова.<br />
                        Ведь те ощущения, когда держишь в руках книгу, именно книгу в традиционном ее понимании, когда листаешь страницы, погружаешься каждый раз в новый неизведанный мир,
                        переживаешь вместе с главными героями, и перед глазами воссоздаются картины из написанных строк, непередаваемы.
                        Чтение позволяет лучше понять окружающий мир, из книг мы узнаём много нового, интересного, вот тогда и приходит понимание того,
                        что мир огромен и не ограничен рамками так модных сейчас компьютерных сетей.
                        Библиотеки всегда были культурным центром нашего общества.
                        И сегодня, как никогда раньше, возрастает их роль в формировании интеллектуального потенциала нации.</br>
                    <p style="text-indent: 30px;">
                        Наша библиотека всегда ищет новые эффективные подходы к работе с читателями, сотрудники библиотеки оказывают помощь в нелегком труде педагогических работников.
                        Ведь только совместными усилиями мы можем подготовить высококвалифицированного специалиста, который легко и свободно войдет во взрослую жизнь.
                </span>
            </span>
        </div></p>


        <div style="text-align:justify"><span style="font-size:22px"><span style="font-family:Times New Roman,Times,serif"></span></span></div>

        <div style="text-align:justify">&nbsp;</div>



        <h2><p>Актуальная информация</p></h2>
        <ul>
            <br>
            <li><strong>Количество книг:</strong> {{ num_books }}</li>
            <br>
            <li>
                <strong>
                    Количество экземпляров книг:
                </strong> {{ num_instances }}
            </li>
            <br>
            <li>
                <strong>
                    Количество экземпляров книг на руках:
                </strong> {{ num_instances_available }}
            </li>
            <br>
            <li>
                <strong>
                    Количество авторов книг:
                </strong> {{ num_authors }}
            </li>

        </ul>

    </div>
    <p>Количество посещений данной страницы - {{ num_visits }}</p>
    {% block Merquee %}
    <h3>
        <div id="Merquee">
            <span style="font-size:30px;">
                <span style="font-family:Times New Roman,Times,serif">
                    <marquee bgcolor="#CCFFFF" height="40" width="1460" vspace="3" hspace="20" align="center">
                        <b>
                            Дорогие студенты! Сегодня появились и добавились новые учебники и книги для профильных предметов. Найти нас можно по адресу Ставропольский край, г. Ставрополь пр-д Черняховского, 3
                            Телефон: +7(8652) 24-25-27
                            Email:college@stvcc.ru
                        </b>
                    </marquee>
                </span>
            </span>
        </div></div></div>
    </h3>
</body>
</html>
