<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drugstore_Task</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/Drugstore_Task.styles.css" asp-append-version="true" />
</head>
<body>
    <a href="/">Главная</a>
    <a href="/Contact">Обратная связь</a>
    <main>
        @RenderBody()
    </main>
    <footer>Все права защищены</footer>
    <span style="font-size:30px;">
        <span style="font-family:Times New Roman,Times,serif">
            <marquee bgcolor="#CCFFFF" height="40" width="1460" vspace="3" hspace="20" align="center">
                <b>
                    Дорогие студенты! Сегодня появились и добавились новые учебники и книги для профильных предметов. Найти нас можно по адресу Ставропольский край, г. Ставрополь пр-д Черняховского, 3
                    Телефон: +7(8652) 24-25-27
                    Email:college@stvcc.ru
                </b>
            </marquee>
          </span></div></div></div></h3>
          </span>
</body>
</html>