<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drugstore_Task</title>
    <link rel="stylesheet" href="~/Drugstore_Task.style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    
    <div style="font-size:30px; font-family:'Times New Roman', Times, serif; background: linear-gradient(to right, blue, pink); color: white;">
        <marquee height="40" width="100%" vspace="3" hspace="20" align="center">
            <b>OG Buda - Добро пожаловать!</b>
        </marquee>
    </div>


    <main>
        @RenderBody()

        <div class="layout">
            <nav>
                <form class="form-search" method="get" action="/Search">
                    <input type="text" name="q" placeholder="поиск..." />
                    <input type="submit" value="Найти" />
                </form>
            </nav>

            <footer>
                <a href="/">Главная</a>
            </footer>
        </div>
    </main>
</body>
</html>