@{
    ViewData["Meicine"] = "Медецина";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    @* <h1>Обратная связь</h1>
    <form method="post" asp-controller="Contact" asp-action="Check">
        <label asp-for="Name_Product"></label>
        <input asp-formaction="Name_Product" />
        <span asp-asp-validation-for="Name_Product"></span>

        <label asp-for="manufacturer"></label>
        <input asp-formaction="manufacturer" />
        <span asp-asp-validation-for="manufacturer"></span>

        <label asp-for="Year"></label>
        <input asp-formaction="Year" />
        <span asp-asp-validation-for="Year"></span>
        <input type="submit" value="Отправить" />
    </form> *@
    <div>
        @RenderBody()
    </div>
</body>