html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background: linear-gradient(to right, blue, pink);
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*==================== Подключение шрифтов ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*==================== Переменные CSS ====================*/
:root {
    /*========== Colors ==========*/
    --text-color: #000000;
    --bg-color: #222222;
    /*========== Шрифт и типографика ==========*/
    --body-font: "Poppins", sans-serif;
    --normal-font-size: 0.938rem;

}

@media screen and (min-width: 968px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/*==================== База ====================*/
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--normal-font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-weight: 400;
    font-family: var(--body-font);
    transition: all 0.2s ease;
}

/*====================  ИСПОЛЬЗУЕМЫЕ CSS-КЛАССЫ ====================*/
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/*==================== Карточки ====================*/
.card__container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: 60px 0;
}

.card__bx {
    --dark-color: #2e2e2e;
    --dark-alt-color: #777777;
    --white-color: #ffffff;
    --button-color: #333333;
    --transition: 0.5s ease-in-out;
    font-family: inherit;
    height: 350px;
    width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
    transition: var(--transition);
}

    .card__bx::before,
    .card__bx::after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: var(--transition);
    }

    .card__bx::before {
        inset: -10px 50px;
        border-top: 4px solid var(--clr);
        transform: skewY(15deg);
        border-bottom: 4px solid var(--clr);
    }

    .card__bx:hover::before {
        inset: -10px 40px;
        transform: skewY(0deg);
    }

    .card__bx::after {
        inset: 60px -10px;
        border-left: 4px solid var(--clr);
        transform: skew(15deg);
        border-right: 4px solid var(--clr);
    }

    .card__bx:hover::after {
        inset: 40px -10px;
        transform: skew(0deg);
    }

    .card__bx .card__data {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        padding: 0 20px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

        .card__bx .card__data .card__icon {
            height: 80px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            color: var(--text-color);
            background-color: var(--dark-color);
            transition: var(--transition);
        }

        .card__bx .card__data .card__icon {
            color: var(--clr);
            box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 6px var(--clr);
        }

    .card__bx:hover .card__data .card__icon {
        color: var(--dark-color);
        background-color: var(--clr);
        box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 300px var(--clr);
    }

    .card__bx .card__data .card__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .card__bx .card__data h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--white-color);
        transition: var(--transition);
    }

    .card__bx:hover .card__data h3 {
        color: var(--dark-color);
        transition: var(--transition);
    }

    .card__bx .card__data p {
        font-size: 0.9rem;
        color: var(--dark-alt-color);
        transition: var(--transition);
    }

    .card__bx:hover .card__data p {
        color: var(--dark-color);
        transition: var(--transition);
    }

    .card__bx .card__data a {
        position: relative;
        display: inline-flex;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: 500;
        margin-top: 10px;
        border: 2px solid var(--clr);
        color: var(--dark-color);
        background-color: var(--clr);
        transition: var(--transition);
    }

    .card__bx:hover .card__data a {
        color: var(--clr);
        background-color: var(--dark-color);
    }

        .card__bx:hover .card__data a:hover {
            border-color: var(--dark-color);
            color: var(--dark-color);
            background-color: var(--clr);
        }

/*==================== Адаптивная верстка ====================*/
     .layout {
    display: grid;
    gap: 4px;
    grid-template-rows: 40px 40px auto 60px 60px 40px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'sidebar' 'main' 'widget' 'statistics' 'footer';
    height: 100vh;
}

@media (min-width: 480px) {
    .layout {
        display: grid;
        grid-template-rows: 40px auto 80px 40px;
        grid-template-columns: 160px auto auto;
        grid-template-areas: 'header header header' 'sidebar main main' 'sidebar widget statistics' 'footer footer footer';
    }
}

header {
    grid-area: header;
/*    background: #c08bfd;*/
}

footer {
    grid-area: footer;
   /* background: #c08bfd;*/
}

nav {
    grid-area: sidebar;
    /*background: #f6c356;*/
}

main {
    grid-area: main;
    background: linear-gradient(to right, blue, pink);
}

.widget {
    grid-area: widget;
  /*  background: #ff8983;*/
    width: 100%;
}

.statistics {
    grid-area: statistics;
    /*background: #99c2fe;*/
    width: 100%;
}



/*==================== Кнопка записи голоса ====================*/

/*** IN PROGRESS ***/
/*:root {
    --sz: 10vmin;
    --on: #99dc39;
    --of: #F44336;
    --lg: var(--of);
    --sp: 1s;
}

*, *:before, *:after {
    box-sizing: border-box;
    transition: all var(--sp) ease 0s;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    background: linear-gradient(135deg, #1f1f23, #2d2d31, #101012);
    background: linear-gradient(135deg, #161618, #212125, #060606);
}

    body:before, body:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-conic-gradient(#0002 0.000095%, #fff0 .0005%, #fff0 .005%, #fff0 .0005%), repeating-conic-gradient(#0002 0.00001%, #fff0 .00009%, #fff0 .00075%, #fff0 .000025%);
        opacity: 0.75;
        filter: blur(0.75px);
    }

.toggle {
    position: relative;
    width: calc(var(--sz) * 5.55);
    height: calc(var(--sz) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: none;
}

label[for=btn] {
    position: absolute;
    width: calc(var(--sz) * 5.55);
    height: calc(var(--sz) * 2);
    background: linear-gradient(0deg, #12172080, #0d121780);
    border-radius: var(--sz);
    display: flex;
    align-items: center;*/
    /*
  box-shadow: 
  0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006, 
  0 calc(var(--sz) / -20) calc(var(--sz) / 5) calc(var(--sz) / 25) #0b0b10, 
  0 calc(var(--sz) / 20) calc(var(--sz) / 10) calc(var(--sz) / 50) #f5f5f588, 
  0 calc(var(--sz) / -20) calc(var(--sz) / 50) calc(var(--sz) / 15) #00000060;
  */
    /*background: radial-gradient(circle at 50% calc(var(--sz) / 0.085), #fff0 calc(var(--sz) / 0.1), #000 calc(calc(var(--sz) / 0.1) + 1px) calc(var(--sz) / 0.0875), #fff0 calc(calc(var(--sz) / 0.0875) + 1px) 100%), radial-gradient(circle at 50% calc(var(--sz) / -0.1025), #fff0 calc(var(--sz) / 0.1), #000 calc(calc(var(--sz) / 0.1) + 1px) calc(var(--sz) / 0.0875), #fff0 calc(calc(var(--sz) / 0.0875) + 1px) 100%);
}

    label[for=btn]:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: var(--sz);*/
        /* box-shadow: 0 0 calc(var(--sz) / 3) calc(var(--sz) / 10) #000 inset; */
        /*background: radial-gradient(circle at 50% calc(var(--sz) / 0.0845), #fff0 calc(var(--sz) / 0.1), #121212 calc(calc(var(--sz) / 0.1) + 1px) calc(var(--sz) / 0.0875), #fff0 calc(calc(var(--sz) / 0.0875) + 1px) 100%), radial-gradient(circle at 50% calc(var(--sz) / -0.1015), #fff0 calc(var(--sz) / 0.1), #121212 calc(calc(var(--sz) / 0.1) + 1px) calc(var(--sz) / 0.0875), #fff0 calc(calc(var(--sz) / 0.0875) + 1px) 100%);
        filter: drop-shadow(0px -2px 1px #000) drop-shadow(0px -2px 2px #000) drop-shadow(0px -2px 3px #0008) drop-shadow(0px 2px 2px #fff8);
    }

.thumb {
    position: absolute;
    width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
    height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
    margin-top: calc(calc( var(--sz) / 10) + calc(var(--sz) / -7));
    left: calc(calc( var(--sz) / 10) + calc(var(--sz) / -30));
    background:*/
    /* radial-gradient( #fff0 0 calc(var(--sz) / 3.5), var(--lg) calc(calc(var(--sz) / 3) + 1px) calc(var(--sz) / 2.75), #fff0 calc(var(--sz) / 1.15)), */
    /*linear-gradient(0deg, #212121, #fff0 35% 65%, #474747), radial-gradient( #fff0 0 calc(var(--sz) / 3), #393939 calc(calc(var(--sz) / 3) + 1px) calc(var(--sz) / 1), #474747);
    border-radius: var(--sz);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 calc(var(--sz) / 3) calc(var(--sz) / -8) var(--lg), 0 0 calc(var(--sz) / 5) calc(var(--sz) / -15) var(--lg) inset, calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0 #fff2 inset, 0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c, 0 calc(var(--sz) / 4) calc(var(--sz) / 5) 0 #000d;
    animation: grow calc(var(--sp) / 3) ease 0s 2 alternate;
}

#btn:checked + label .thumb {
    --lg: var(--on);
    left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc( var(--sz) / 10) + calc(var(--sz) / 6)));*/
    /*
  box-shadow: 
  calc(var(--sz) / 10) 0 calc(var(--sz) / 10) calc(var(--sz) / -10) var(--lg), 
  calc(var(--sz) / -10) 0 calc(var(--sz) / 10) calc(var(--sz) / -10) var(--lg) inset,
  calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0 #fff2 inset, 
  0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c, 
  0 calc(var(--sz) / 4) calc(var(--sz) / 5) 0 #000d;
  */
    /*animation: grow2 calc(var(--sp) / 3) ease 0s 2 alternate;
}




@keyframes grow {
    80%, 100% {
        height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 2.5));
        width: calc(calc(var(--sz) * 2) - calc(var(--sz) * -0.5));
    }
}

@keyframes grow2 {
    80%, 100% {
        height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 2.5));
        width: calc(calc(var(--sz) * 2) - calc(var(--sz) * -0.5));
    }
}


.thumb:before {
    content: "";
    width: calc(var(--sz) / 1.65);
    height: calc(var(--sz) / 1.65);
    background: #fff0;
    border-radius: 100%;
    box-shadow: 0 calc(var(--sz) / -1) calc(var(--sz) / 2) var(--lg), 0 calc(var(--sz) / 1) calc(var(--sz) / 2) var(--lg), 0 0 2vmin 0.25vmin var(--lg) inset, 0 0 5vmin 1.5vmin var(--lg), 0 0 calc(var(--sz) / 5) 0 #fff;
}






.lights {
    position: absolute;
    width: calc(100% + calc(var(--sz) * 2));
    height: calc(var(--sz) / 1.75);
    display: flex;
    justify-content: space-between;
    padding: 0;
    z-index: 0;
}

    .lights span {
        background: #121212;
        position: relative;
        width: calc(var(--sz) / 1.75);
        height: calc(var(--sz) / 1.75);
        border-radius: var(--sz);
        box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0008, 0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 500) #000, 0 calc(var(--sz) / 20) calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 0 0 calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }


.lights {
    position: absolute;
    width: calc(100% - calc(var(--sz) * 1.425));
    height: calc(var(--sz) / 1.75);
    display: flex;
    justify-content: space-between;
    padding: 0;
    z-index: 0;
    margin-top: -1px;
}

    .lights span {
        background: #121212;
        position: relative;
        width: calc(var(--sz) / 1.75);
        height: calc(var(--sz) / 1.75);
        border-radius: var(--sz);
        box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0008, 0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 500) #000, 0 calc(var(--sz) / 20) calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 0 0 calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .lights span:after {
            content: "";
            color: #fff;
            width: calc(100% - calc(var(--sz) / 15));
            height: calc(100% - calc(var(--sz) / 15));
            position: absolute;
            background: radial-gradient(circle at 50% 32%, #fff5 0 calc(var(--sz) / 20), #000 calc(var(--sz) / 3) calc(var(--sz) / 3));
            border-radius: var(--sz);
            top: calc(var(--sz) / 50);
        }*/


/* off */
/*span.light-off:after {
    box-shadow: 0 0 calc(var(--sz) / 2.5) 0 var(--lg), 0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--lg) inset, 0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10) #000 inset;
    background: radial-gradient(circle at 50% 32%, #fff 0 calc(var(--sz) / 20), #fff8 calc(var(--sz) / 3) calc(var(--sz) / 3));
}

#btn:checked + label + .lights span.light-off:after {
    box-shadow: 0 0 calc(var(--sz) / 3) 0 #f5000020, 0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #f5000020 inset;
    background: radial-gradient(circle at 50% 32%, #fff5 0 calc(var(--sz) / 20), #000 calc(var(--sz) / 3) calc(var(--sz) / 3));
}*/


/* on */
/*span.light-on:after {
    box-shadow: 0 0 calc(var(--sz) / 3) 0 #00f56d20, 0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #00f56d20 inset;
}

#btn:checked + label + .lights span.light-on:after {
    --lg: var(--on);
    box-shadow: 0 0 calc(var(--sz) / 2.5) 0 var(--lg), 0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--lg) inset, 0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10) #000 inset;
    background: radial-gradient(circle at 50% 32%, #fff 0 calc(var(--sz) / 20), #fff2 calc(var(--sz) / 3) calc(var(--sz) / 3));
}

#btn:checked + label + .lights span.light-on:before {
    --lg: var(--on);
}

#btn:checked + label + .lights span.light-off:before {
    --lg: #666;
}*/

/*==================== Кнопка записи голоса ====================*/
/*body {
    background: #EEE;
    overflow-x: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
    position: relative;
    margin: 0px auto;
    padding: 50px 0;
    clear: both;
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1210px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .container {
        width: 1030px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 682px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 428px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 479px) {
    .container {
        width: 320px;
        margin: 0 auto;
    }
}



.mcd-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #FFF;*/
    /*height: 100px;*/
    /*border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;*/
    /* == */
    /*width: 250px;*/
    /* == */
/*}

    .mcd-menu li {
        position: relative;*/
        /*float:left;*/
    /*}

        .mcd-menu li a {
            display: block;
            text-decoration: none;
            padding: 12px 20px;
            color: #777;*/
            /*text-align: center;
  border-right: 1px solid #E7E7E7;*/
            /* == */
            /*text-align: left;
            height: 36px;
            position: relative;
            border-bottom: 1px solid #EEE;*/
            /* == */
        /*}

            .mcd-menu li a i {*/
                /*display: block;
  font-size: 30px;
  margin-bottom: 10px;*/
                /* == */
                /*float: left;
                font-size: 20px;
                margin: 0 10px 0 0;*/
                /* == */
            /*}*/
            /* == */
            /*.mcd-menu li a p {
                float: left;
                margin: 0;
            }*/
            /* == */

            /*.mcd-menu li a strong {
                display: block;
                text-transform: uppercase;
            }

            .mcd-menu li a small {
                display: block;
                font-size: 10px;
            }

            .mcd-menu li a i, .mcd-menu li a strong, .mcd-menu li a small {
                position: relative;
                transition: all 300ms linear;
                -o-transition: all 300ms linear;
                -ms-transition: all 300ms linear;
                -moz-transition: all 300ms linear;
                -webkit-transition: all 300ms linear;
            }

        .mcd-menu li:hover > a i {
            opacity: 1;
            -webkit-animation: moveFromTop 300ms ease-in-out;
            -moz-animation: moveFromTop 300ms ease-in-out;
            -ms-animation: moveFromTop 300ms ease-in-out;
            -o-animation: moveFromTop 300ms ease-in-out;
            animation: moveFromTop 300ms ease-in-out;
        }

        .mcd-menu li:hover a strong {
            opacity: 1;
            -webkit-animation: moveFromLeft 300ms ease-in-out;
            -moz-animation: moveFromLeft 300ms ease-in-out;
            -ms-animation: moveFromLeft 300ms ease-in-out;
            -o-animation: moveFromLeft 300ms ease-in-out;
            animation: moveFromLeft 300ms ease-in-out;
        }

        .mcd-menu li:hover a small {
            opacity: 1;
            -webkit-animation: moveFromRight 300ms ease-in-out;
            -moz-animation: moveFromRight 300ms ease-in-out;
            -ms-animation: moveFromRight 300ms ease-in-out;
            -o-animation: moveFromRight 300ms ease-in-out;
            animation: moveFromRight 300ms ease-in-out;
        }

        .mcd-menu li:hover > a {
            color: #e67e22;
        }

        .mcd-menu li a.active {
            position: relative;
            color: #e67e22;
            border: 0;*/
            /*border-top: 4px solid #e67e22;
  border-bottom: 4px solid #e67e22;
  margin-top: -4px;*/
            /*box-shadow: 0 0 5px #DDD;
            -moz-box-shadow: 0 0 5px #DDD;
            -webkit-box-shadow: 0 0 5px #DDD;*/
            /* == */
            /*border-left: 4px solid #e67e22;
            border-right: 4px solid #e67e22;
            margin: 0 -4px;*/
            /* == */
        /*}

            .mcd-menu li a.active:before {
                content: "";
                position: absolute;*/
                /*top: 0;
  left: 45%;
  border-top: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
                /* == */
                /*top: 42%;
                left: 0;
                border-left: 5px solid #e67e22;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;*/
                /* == */
            /*}*/

            /* == */
            /*.mcd-menu li a.active:after {
                content: "";
                position: absolute;
                top: 42%;
                right: 0;
                border-right: 5px solid #e67e22;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
            }*/
/* == */

/*@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes moveFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}



.mcd-menu li ul,
.mcd-menu li ul li ul {
    position: absolute;
    height: auto;
    min-width: 200px;
    padding: 0;
    margin: 0;
    background: #FFF;*/
    /*border-top: 4px solid #e67e22;*/
    /*opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;*/
    /*top: 130px;*/
    /*z-index: 1000;*/
    /* == */
    /*left: 280px;
    top: 0px;
    border-left: 4px solid #e67e22;*/
    /* == */
/*}

    .mcd-menu li ul:before {
        content: "";
        position: absolute;*/
        /*top: -8px;
  left: 23%;
  border-bottom: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
        /* == */
        /*top: 25px;
        left: -9px;
        border-right: 5px solid #e67e22;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;*/
        /* == */
    /*}

    .mcd-menu li:hover > ul,
    .mcd-menu li ul li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;*/
        /*top: 100px;*/
        /* == */
        /*left: 250px;*/
        /* == */
    /*}*/
    /*.mcd-menu li ul li {
  float: none;
}*/
    /*.mcd-menu li ul li a {
        padding: 10px;
        text-align: left;
        border: 0;
        border-bottom: 1px solid #EEE;*/
        /* == */
        /*height: auto;*/
        /* == */
    /*}

        .mcd-menu li ul li a i {
            font-size: 16px;
            display: inline-block;
            margin: 0 10px 0 0;
        }

    .mcd-menu li ul li ul {
        left: 230px;
        top: 0;
        border: 0;
        border-left: 4px solid #e67e22;
    }

        .mcd-menu li ul li ul:before {
            content: "";
            position: absolute;
            top: 15px;*/
            /*left: -14px;*/
            /* == */
            /*left: -9px;*/
            /* == */
            /*border-right: 5px solid #e67e22;
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
        }

    .mcd-menu li ul li:hover > ul {
        top: 0px;
        left: 200px;
    }*/



/*.mcd-menu li.float {
  float: right;
}*/
/*.mcd-menu li a.search {*/
    /*padding: 29px 20px 30px 10px;*/
    /*padding: 10px 10px 15px 10px;
    clear: both;
}

    .mcd-menu li a.search i {
        margin: 0;
        display: inline-block;
        font-size: 18px;
    }

    .mcd-menu li a.search input {
        border: 1px solid #EEE;
        padding: 10px;
        background: #FFF;
        outline: none;
        color: #777;*/
        /* == */
        /*width: 170px;
        float: left;*/
        /* == */
    /*}

    .mcd-menu li a.search button {
        border: 1px solid #e67e22;*/
        /*padding: 10px;*/
        /*background: #e67e22;
        outline: none;
        color: #FFF;
        margin-left: -4px;*/
        /* == */
        /*float: left;
        padding: 10px 10px 11px 10px;*/
        /* == */
    /*}

    .mcd-menu li a.search input:focus {
        border: 1px solid #e67e22;
    }


.search-mobile {
    display: none !important;
    background: #e67e22;
    border-left: 1px solid #e67e22;
    border-radius: 0 3px 3px 0;
}

    .search-mobile i {
        color: #FFF;
        margin: 0 !important;
    }
               
        
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .mcd-menu {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .mcd-menu {
        width: 200px;
    }

        .mcd-menu li a {
            height: 30px;
        }

            .mcd-menu li a i {
                font-size: 22px;
            }

            .mcd-menu li a strong {
                font-size: 12px;
            }

            .mcd-menu li a small {
                font-size: 10px;
            }

            .mcd-menu li a.search input {
                width: 120px;
                font-size: 12px;
            }

            .mcd-menu li a.search buton {
                padding: 8px 10px 9px 10px;
            }

        .mcd-menu li > ul {
            min-width: 180px;
        }

        .mcd-menu li:hover > ul {
            min-width: 180px;
            left: 200px;
        }

        .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
            min-width: 150px;
        }

        .mcd-menu li ul li:hover > ul {
            left: 180px;
            min-width: 150px;
        }

        .mcd-menu li ul li ul li:hover > ul {
            left: 150px;
            min-width: 150px;
        }

        .mcd-menu li ul a {
            font-size: 12px;
        }

            .mcd-menu li ul a i {
                font-size: 14px;
            }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .mcd-menu {
        width: 50px;
    }

        .mcd-menu li a {
            position: relative;
            padding: 12px 16px;
            height: 20px;
        }

            .mcd-menu li a small {
                display: none;
            }

            .mcd-menu li a strong {
                display: none;
            }

            .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
                display: block;
                font-size: 10px;
                padding: 3px 0;
                position: absolute;
                bottom: 0px;
                left: 0;
                background: #e67e22;
                color: #FFF;
                min-width: 100%;
                text-transform: lowercase;
                font-weight: normal;
                text-align: center;
            }

        .mcd-menu li .search {
            display: none;
        }

        .mcd-menu li > ul {
            min-width: 180px;
            left: 70px;
        }

        .mcd-menu li:hover > ul {
            min-width: 180px;
            left: 50px;
        }

        .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
            min-width: 150px;
        }

        .mcd-menu li ul li:hover > ul {
            left: 180px;
            min-width: 150px;
        }

        .mcd-menu li ul li ul li > ul {
            left: 35px;
            top: 45px;
            border: 0;
            border-top: 4px solid #e67e22;
        }

            .mcd-menu li ul li ul li > ul:before {
                left: 30px;
                top: -9px;
                border: 0;
                border-bottom: 5px solid #e67e22;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }

        .mcd-menu li ul li ul li:hover > ul {
            left: 30px;
            min-width: 150px;
            top: 35px;
        }

        .mcd-menu li ul a {
            font-size: 12px;
        }

            .mcd-menu li ul a i {
                font-size: 14px;
            }
}

@media only screen and (max-width: 479px) {
    .mcd-menu {
        width: 50px;
    }

        .mcd-menu li a {
            position: relative;
            padding: 12px 16px;
            height: 20px;
        }

            .mcd-menu li a small {
                display: none;
            }

            .mcd-menu li a strong {
                display: none;
            }

            .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
                display: block;
                font-size: 10px;
                padding: 3px 0;
                position: absolute;
                bottom: 0px;
                left: 0;
                background: #e67e22;
                color: #FFF;
                min-width: 100%;
                text-transform: lowercase;
                font-weight: normal;
                text-align: center;
            }

        .mcd-menu li .search {
            display: none;
        }

        .mcd-menu li > ul {
            min-width: 180px;
            left: 70px;
        }

        .mcd-menu li:hover > ul {
            min-width: 180px;
            left: 50px;
        }

        .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
            min-width: 150px;
        }

        .mcd-menu li ul li:hover > ul {
            left: 180px;
            min-width: 150px;
        }

        .mcd-menu li ul li ul li > ul {
            left: 35px;
            top: 45px;
            border: 0;
            border-top: 4px solid #e67e22;
        }

            .mcd-menu li ul li ul li > ul:before {
                left: 30px;
                top: -9px;
                border: 0;
                border-bottom: 5px solid #e67e22;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }

        .mcd-menu li ul li ul li:hover > ul {
            left: 30px;
            min-width: 150px;
            top: 35px;
        }

        .mcd-menu li ul a {
            font-size: 12px;
        }

            .mcd-menu li ul a i {
                font-size: 14px;
            }
}*/
    }